.Caption {
  position: relative;
  display: none;
  cursor: pointer;

  &:hover {
    background: #dfdfdf;
  }

  &:active {
    background: yellow;
  }
}

.CaptionCurrent {
  background: yellow;
}

.CaptionSaved {
  &:before {
    content: "!";
    position: absolute;
    left: -2rem;
  }
}

.CaptionVisible {
  display: block;
}

.Caption--review {
  margin-bottom: 2rem;
  text-indent: 1rem;

  &:before {
    content: "...";
    position: inline-block;
    left: -1rem;
  }

  &:after {
    content: "..."
  }
}